html {
  width: 100%;
}
body {
  width: 100%;
  background-image: repeating-linear-gradient(to top,#F3E8D9, #49797F);
}
.display, .init-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.display {
  width: 100%;
  height: 100%;
}
.show-mad-lib {
  display: none;
  width: 50%;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #222;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.create-button {
  font-family: Cormorant Garamond, serif;
  font-size: 1.2rem;
  height: 50px;
  background-color: #e2d2c6;
  border-radius: 10px;
  border: 1px solid #B9ACA3;
}

h1 {
  font-family: Cormorant Garamond, serif;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
}

.fancy {
  font-size: 4rem;
  font-weight: bolder;
  font-family: Dancing Script, serif;
  margin-bottom: 20px;
}

.create-button {
  margin: auto;
}

.input-mode {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:  50%;
}
.word-fields {
  display: flex;
  flex-direction: column;
}